.login-div{
  margin:150px auto;
  width:400px;
}
body{
  background:url("http://n1.itc.cn/img8/wb/recom/2016/12/21/148226908974320355.JPEG") no-repeat;
  height:100%;
  width:100%;
  overflow: hidden;
  background-size:cover;
  overflow-y: auto; 
}